@import './style.scss';

.wrapper-boutique {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    overflow: hidden;
    cursor: initial;

    .boutique {
      position: absolute;
      width: 139.81vh;
      height: 76.57vh;
      background-color: #142531;

      .boutique-side-bar-right {
        position: absolute;
        height: 76.57vh;
        width: 31.38vh;
        background-color: #1D2B39;

        .bannierre {
          position: absolute;
          height: 9.81vh;
          width: 27.77vh;
          left: 1.75vh;
          top: 3.7vh;
        }

        .box-button {
          position: absolute;
          top: 17.22vh;
          height: auto;
          width: 31.38vh;

          .button {
            position: relative;
            height: 5.27vh;
            width: 31.38vh;
            color: #ffffffa9;
            display: flex; 
            align-items: center; 
            padding-left: 9.81vh; 
          
            .icon {
              position: absolute;
              left: 5.5vh;
              height: 2.7vh;
            }

            span {
              font-size: 2vh; 
              font-weight: 500;
            }

            &:hover {
              background-color: #142531;
              box-shadow: inset 0.30vh 0 0 var(--color-theme);
            }
          }
          .select {
            background-color: #142531;
            box-shadow: inset 0.30vh 0 0 var(--color-theme);
            color: #ffffff;
          }
        }

        .box-information {
          position: absolute;
          bottom: 0%;
          height: 11.94vh;
          width: 31.38vh;
          color: #ffffff;
          font-size: 1.5vh;

          .icon-user {
            position: absolute;
            height: 8.33vh;
            width: 8.33vh;
            left: 2.22vh;
            top: 1.29vh;
          }

          .info {
            .identifier {
              position: absolute;
              left: 12.31vh;
              top: 1.2vh;
              padding-left: 1vh;
              border-left: 0.30vh solid var(--color-theme);
            }
  
            .id-boutique {
              position: absolute;
              left: 12.31vh;
              top: 4.30vh;
              padding-left: 1vh;
              border-left: 0.30vh solid var(--color-theme);
            }
  
            .coins {
              position: absolute;
              left: 12.31vh;
              top: 7.5vh;
              padding-left: 2.3vh;
              border-left: 0.30vh solid var(--color-theme);
            }

            .icon-coins {
              position: absolute;
              left: 13.1vh;
              top: 7.7vh;
              height: 1.6vh;
            }
          }
        }
      }

      .boutique-center {
        position: absolute;
        right: 0%;
        width: 108.43vh;
        height: 76.57vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .wrapper-article {
          width: 107.72vh;
          height: 64vh;
          overflow-y: auto;

          &::-webkit-scrollbar {
            display: none;
          }

          .box-article{
            position: relative;
            background: #1D2B39;
            height: 25.09vh;
            width: 33.61vh;
            margin-left: 1.90vh;
            margin-top: 1.90vh;
            display: inline-block;
            vertical-align: top; 
            overflow: hidden;

            .image-article {
              position: absolute;
              width: 33.61vh;
              height: 18.8vh;
            }

            .label-article {
              position: absolute;
              color: #ffffff;
              font-size: 1.75vh;
              top: 19.37vh;
              left: 1.57vh;
            }

            .price-article {
              position: absolute;
              background: #ffffff1e;
              color: #ffffff;
              font-size: 1.5vh;
              font-weight: 400;
              height: 2.2vh;
              width: 5.33vh;
              top: 22.03vh;
              left: 1.57vh;
              padding-left: 3vh;

              .icon-coins-article {
                position: absolute;
                height: 1.8vh;
                width: 1.8vh;
                top: 0.25vh;
                left: 0.74vh;
              }
            }

            .button-previsualiser-article {
              position: absolute;
              background: #505F6F;
              top: 22.03vh;
              left: 18.79vh;
              color: #ffffff;
              font-size: 1.5vh;
              font-weight: 300;
              height: 2.2vh;
              width: 13.24vh;
              text-align: center;

              &:hover {
                background: #44505ee3;
              }
            }
          }
        }

        .wrapper-historique {
          position: absolute;
          top: 19.20vh;
          width: 104.72vh;
          height: 50vh;
          overflow-y: auto;

          &::-webkit-scrollbar {
            display: none;
          }

          .box-historique {
            position: relative;
            width: 104.72vh;
            height: 4.62vh;
            background: #1D2B39;
            margin-top: 1.5vh;
            box-shadow: inset 0.40vh 0 0 var(--color-theme);
          }
        }
      }
    }

    .boutique-preview-vehicules {
      position: absolute;
      background: #1D2B39;
      right: 0%;
      width: 37.96vh;
      height: 100%;

      .bannierre {
        position: absolute;
        width: 33.14vh;
        left: 3.28vh;
        top: 5vh;
      }

      .box-button {
        position: absolute;
        background-color: #142531;
        height: 4.62vh;
        width: 34.44vh;
        left: 1.75vh;
        top: 93.98vh;


        .price-vehicule {
          position: absolute;
          background: #ffffff1e;
          color: #ffffff;
          font-size: 1.5vh;
          font-weight: 400;
          height: 2.2vh;
          width: 5.33vh;
          top: 1.1vh;
          left: 1.1vh;
          padding-left: 3vh;

          .icon-coins-vehicule {
            position: absolute;
            height: 1.8vh;
            width: 1.8vh;
            top: 0.20vh;
            left: 1.14vh;
          }
        }

        .button-test {
          position: absolute;
          background: #505F6F;
          top: 1.1vh;
          left: 11.59vh;
          color: #ffffff;
          font-size: 1.5vh;
          font-weight: 300;
          height: 2.2vh;
          width: 9.24vh;
          text-align: center;

          &:hover {
            background: #44505ee3;
          }
        }
        
        .button-buy {
          position: absolute;
          background: #505F6F;
          top: 1.1vh;
          left: 22.79vh;
          color: #ffffff;
          font-size: 1.5vh;
          font-weight: 300;
          height: 2.2vh;
          width: 10vh;
          text-align: center;

          &:hover {
            background: #44505ee3;
          }
        }
      }
    }
}
  